<header class="app_header">
    <div class="app_header_container">
        <div class="app_header_container_left">
            <div class="app_header_container_left_toggle_wrapper">
                <mat-icon class="app_header_container_left_toggle">menu</mat-icon>
            </div>

            <div class="app_header_container_left_logo">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
                    viewBox="0 0 960 960" style="enable-background:new 0 0 960 960;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <g>
                        <polygon class="st0" points="562.6,109.8 804.1,629.5 829.2,233.1 	" />
                        <polygon class="st0" points="624.9,655.9 334.3,655.9 297.2,745.8 479.6,849.8 662,745.8 	" />
                        <polygon class="st0" points="384.1,539.3 575.2,539.3 479.6,307 	" />
                        <polygon class="st0" points="396.6,109.8 130,233.1 155.1,629.5 	" />
                    </g>
                </svg>
            </div>

            <span class="app_header_container_left_title">Ref App</span>
        </div>

        <div class="app_header_container_right">

        </div>
    </div>
</header>